@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

html{
  color:#fff;
  font-family:'Space Grotesk', sans-serif;
}

body {
  background-color: #fff;
  padding: 20px;
  margin: 0;
}

  


ul.unordered-list li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.unordered-list {
  background-color:#666699;
  padding: 0;
}

ul.unordered-list li a {
  
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

#wiki-article{
  
  color: #000;
  border: #e5e5e7 solid 0.2em;
}


#menses-title{
 display:inline;
  margin-left:0.3em;

}

.content {
  background-color: #e5e5e7;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #00ff99;
  
  
}
ul.active li a {
  color:#000;
}

ul#topics li a{
  text-decoration:  none;
  list-style:none ;
}